.registration{
    
    
    width: 80%;
    padding:  5px 20px 10px 10px;
    border: 1px solid black;
    margin: 14px;
    border-radius: 4px;
    font-size: 15px;


}

#registration{
margin-left: 22%;
margin-right: 30%;
margin-bottom: 20%;
text-align: center;


}

#submitregistration{

    border-radius: 9px;
    width: 120px;
    height: 25px;
    font-size: 15px;
   
}


.login{
    
    
    width: 80%;
    padding: 12px 20px;
    border: 1px solid black;
    margin: 14px;
    border-radius: 4px;
    font-size: 15px;


}

#login{
margin-left: 30%;
margin-right: 50%;
margin-bottom: 20%;
text-align: center;


}

#submitlogin{

    border-radius: 9px;
    width: 120px;
    height: 25px;
    font-size: 15px;
   
}



.employee{
    
    
    width: 80%;
    padding: 12px 28px;
    border: 1px solid black;
    margin: 14px;
    border-radius: 4px;
    font-size: 15px;
    color: blue;


}

#employee{
margin-left: 30%;
margin-right: 50%;
margin-bottom: 20%;
text-align: center;


}

#submitemployee{

    border-radius: 9px;
    width: 120px;
    height: 25px;
    font-size: 15px;
   
}

#forgetpassword{

margin-top: 10%;
margin-left: 30%;
margin-right: 50%;
margin-bottom: 20%;
text-align: center;

   

}

#fpemail{

width: 80%;
padding: 12px 28px;
border: 1px solid black;
margin: 14px;
border-radius: 4px;
font-size: 15px;
color: rgb(23, 7, 253);


}

#submitforgetpassword{

    border-radius: 9px;
    width: 120px;
    height: 25px;
    font-size: 15px;
   
}

.newpassword{
    
    
    width: 80%;
    padding: 12px 20px;
    border: 1px solid black;
    margin: 14px;
    border-radius: 4px;
    font-size: 15px;


}

#newpassword{
margin-top: 5%;    
margin-left: 30%;
margin-right: 50%;
margin-bottom: 20%;
text-align: center;


}

#submitnewpassword{

    border-radius: 9px;
    width: 150px;
    height: 25px;
    font-size: 15px;
   
}

.vacancy{
    
    
    width: 80%;
    padding: 12px 30px;
    border: 1px solid black;
    margin: 14px;
    border-radius: 4px;
    font-size: 15px;


}

#vacancy{
margin-top: 5%;    
margin-left: 30%;
margin-right: 50%;
margin-bottom: 20%;
text-align: center;


}

#submitvacancy{

    border-radius: 9px;
    width: 150px;
    height: 25px;
    font-size: 15px;
   
}

.postjob{
    
    
    width: 80%;
    padding: 12px 30px;
    border: 1px solid black;
    margin: 14px;
    border-radius: 4px;
    font-size: 15px;


}

#postjob{
margin-top: 5%;    
margin-left: 30%;
margin-right: 50%;
margin-bottom: 20%;
text-align: center;


}

#submitpostjob{

    border-radius: 9px;
    width: 150px;
    height: 25px;
    font-size: 15px;
   
}
